*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide{
    width: 100%;
    max-width: 1000px;
    height: 700px;
    overflow: hidden;
    margin: 100px auto;
}
.slide ul{
    padding: 0px;
    display: flex;
    width: 400%;
    animation: slide 20s infinite;
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.slide li{
    width: 100%;
    list-style: none;
}
.slide li img{
    width: 100%;
}